<div class="row">
  <h1>Your image</h1>
</div>

<div class="row">
  <img src="/{{ image.path }}/{{ image.file_name }}">
</div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      Basic panel example
    </div>
  </div>
</div>
